.container
  .mt30{align: "center"}
    %a{href: "www.xinwowang.com"}
      = image_tag("xwlogo.gif")
  .mt20{align: "center"}
    = form_tag search_path, :method => :get, :class => "form-inline m0",name: "myform", :role => "form" do
      = text_field_tag :keyword, params[:keyword], :class => "form-control", :id => "keyword", :style => "width: 525px", :placeholder => "请输入关键字"
      %button.btn.btn-danger{ type: "submit" }
        搜索

  .home_mu.mt50.mb20{align: "center"}
    %span.mr20
      %a.button.button-circle.button-flat{href: "http://gz.xinwowang.com", target: "_blank"} 广州站
    %span.mr20
      %a.button.button-circle.button-flat-primary{href: "http://sz.xinwowang.com", target: "_blank"} 深圳站
    %span.mr20
      %a.button.button-circle.button-flat-action{href: "http://xm.xinwowang.com", target: "_blank"} 厦门站
    %span.mr20
      %a.button.button-circle.button-flat-highlight{href: "http://zz.xinwowang.com", target: "_blank"} 漳州站
    %span.mr20
      %a.button.button-circle.button-flat-caution{href: "http://qz.xinwowang.com", target: "_blank"} 泉州站
  .container.mt100.mb20{style: " border-bottom:1px solid #CCC"}
  .text-center.projectList.pb5
    %a{href: "http://zz.xinwowang.com/about#about", target: "_blank"} 关于馨窝
    |
    %a{href: "http://zz.xinwowang.com/about#con", target: "_blank"} 联系我们
    |
    %a{href: "http://zz.xinwowang.com/about#join", target: "_blank"} 招聘信息
    |
    %a{href: "http://zz.xinwowang.com/about#law", target: "_blank"} 法律声明
  .text-center
    ©2014  三岁  版权所有
    %a{href: "http://www.miitbeian.gov.cn", target: "_blank"} 闽ICP备14006517号-2
    - unless Rails.env.development?
      %script{"data-turbolinks-eval" => "false", type: "text/javascript"}
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000442251'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1000442251%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
